# Ignorar arquivos de banco de dados comuns
*.sqlite
*.sqlite3
*.db
*.db3
*.mdb
*.accdb
relatorio.csv
vendas.db

# Ignorar diretório de dados, se existir
/database/
data/
db/

# Ignora arquivos da compilação
*.pyc
*.pyo
/dist/
/build/