<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Display de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='Logo_Fad.png') }}" alt="Logo" class="logo">
    <h1>Últimos Pedidos</h1>
    {% for p in pedidos %}
    <div class="pedido {{ p[4] }}">
        Pedido #{{ p[0] }} - Cliente: {{ p[1] }} - {{ p[4].capitalize() }}
    </div>
    {% endfor %}
    <script>
        setInterval(() => location.reload(), 2500);
    </script>
</body>

</html>