<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Pedidos de Lanches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header">
        <!-- <img src="{{ url_for('static', filename='clube-de-aventureiros-logo.png') }}" alt="Logo" class="logo"> -->
        <h1>Pedidos de Lanches</h1>
    </div>
    <form action="/adicionar" method="post">
        Cliente: <input name="cliente" required>
        <label for="lanche">Lanche:</label>
        <select name="lanche" id="lanche" required>
            <option value="">Selecione um sabor</option>
            <option value="Pastel">Pastel</option>
            <option value="Batata">Batata</option>
            <option value="Observação">Observação</option>
        </select>
        Observação: <input name="observacao">
        <button type="submit">Adicionar Pedido</button>
    </form>
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Lanche</th>
            <th>Observação</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        {% for p in pedidos %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td class="{{ p[4] }}">{{ p[4].capitalize() }}</td>
            <td>
                <a href="/atualizar/{{p[0]}}/aguardando">Aguardando</a> |
                <a href="/atualizar/{{p[0]}}/preparo">Em preparo</a> |
                <a href="/atualizar/{{p[0]}}/pronto">Pronto</a> |
                <a href="/remover/{{p[0]}}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/relatorio">Gerar Relatório</a>
    <br>
    <a href="/display" target="_blank">Abrir Display Externo</a>
</body>

</html>