/* Estilo Global */
body {
  background-color: #121212;
  color: white;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
  color: #f5f5f5;
  font-size: 48px;
}

/* Estilo do Pedido */
.pedido {
  display: block;
  width: 80%;
  max-width: 2000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  font-size: 56px;
  transition: transform 0.2s;
}

.pedido:hover {
  transform: scale(1.05);
}

/* Esilo da Logo */
.logo {
  width: 250px;
  margin-bottom: 10px;
}

/* Cor do Status */
.aguardando {
  background: #222;
  color: #fff;
  border: 2px solid white;
}

.preparo {
  background: #FFFF00;
  color: #111;
}

.pronto {
  background: #1ddb6c;
  color: white;
}
